<section class="company-statstab-wrapper">
  <link
    rel="stylesheet"
    href="../../../../../admin/dashboard/tabs/stats/CompanyStats/CompanyStats.css"
  />

  <div class="companyStatTabHeader">
    <h3>Total Projects in System</h3>

    <div class="header-cst">
      <div class="dateSelector date-range-selector">
        <form name="projectCountForm">
          <div class="input">
            <label for="">Start Date</label>
            <input
              type="date"
              name="startDate"
              ng-model="projectCountFormData.startDate"
              ng-init="projectCountFormData.startDate = formDataInit.startDate"
              ng-change="countProjectDateChanged()"
              max="{{projectCountFormData.endDate |  date:'yyyy-MM-dd'}}"
            />
          </div>
          <div class="input">
            <label for="">End Date</label>
            <input
              type="date"
              name="endDate"
              ng-model="projectCountFormData.endDate"
              ng-init="projectCountFormData.endDate = formDataInit.endDate"
              ng-change="countProjectDateChanged()"
              min="{{projectCountFormData.startDate |  date:'yyyy-MM-dd'}}"
              id=""
            />
          </div>
        </form>
        <div class="project-count">
          <div class="project-count__card">
            <div class="project-count__card__count">{{projectCount.total}}</div>
            <div class="project-count__card__title">Total Projects</div>
          </div>

          <div class="project-count__card">
            <div class="project-count__card__count">
              {{projectCount.inProgress}}
            </div>
            <div class="project-count__card__title">Inprogress Projects</div>
          </div>

          <div class="project-count__card">
            <div class="project-count__card__count">
              {{projectCount.complete}}
            </div>
            <div class="project-count__card__title">Compeled Projects</div>
          </div>
        </div>
      </div>

      <div id="topCompanyProjectWiseChart-wrapper">
        <canvas id="topCompanyProjectWiseChart"></canvas>
      </div>
    </div>
  </div>
  <div class="trendsChart-wrapper">
    <div class="projectTrend-wrapp">
      <h3>Project Count Trend</h3>
      <select
        name="projectCountTrend-select"
        ng-change="projectCountTrendOptionChange()"
        id="projectTrend-select"
        ng-model="projectTrendCountOption"
      >
        <option value="month">Monthly</option>
        <option value="year">Yearly</option>
      </select>
      <div class="companyWiseTicketCountsChart-wrapper">
        <canvas id="projectCountTrend-chart"></canvas>
      </div>
    </div>
    <div class="projectTrend-wrapp">
      <h3>Ticket Count Trend</h3>
      <select
        name="ticketCountTrend-select"
        ng-change="ticketCountTrendOptionChange()"
        id="ticketTrend-select"
        ng-model="ticketTrendCountOption"
      >
        <option value="month">Monthly</option>
        <option value="year">Yearly</option>
      </select>
      <div class="companyWiseTicketCountsChart-wrapper">
        <canvas id="ticketCountTrend-chart"></canvas>
      </div>
    </div>
  </div>
  <div class="ticketStatTabHeader">
    <h3>Total Tickets in System</h3>
    <div class="header-tst">
      <div class="dateSelector date-range-selector">
        <form name="ticketCountForm">
          <div class="input">
            <label for="">Start Date</label>
            <input
              type="date"
              name="startDate"
              ng-model="ticketCountFormData.startDate"
              ng-init="ticketCountFormData.startDate = formDataInit.startDate"
              ng-change="countTicketDateChanged()"
              max="{{ticketCountFormData.endDate |  date:'yyyy-MM-dd'}}"
            />
          </div>
          <div class="input">
            <label for="">End Date</label>
            <input
              type="date"
              name="endDate"
              ng-model="ticketCountFormData.endDate"
              ng-init="ticketCountFormData.endDate = formDataInit.endDate"
              ng-change="countTicketDateChanged()"
              min="{{ticketCountFormData.startDate |  date:'yyyy-MM-dd'}}"
              id=""
            />
          </div>
        </form>
        <div class="ticket-count">
          <div class="ticket-count__card">
            <div class="ticket-count__card__count">{{totalTickets}}</div>
            <div class="ticket-count__card__title">Total Tickets</div>
          </div>
        </div>
      </div>
      <!-- <div id="topTicketProjectWiseChart-wrapper">
    <canvas id="topTicketProjectWiseChart"></canvas>
   </div> -->
    </div>
  </div>
  <div class="csw-bottom">
    <div class="companyWiseProjects">
      <h3>Company Size Based on Projects</h3>

      <div class="companyWiseProjectsChartWrapper">
        <canvas id="companyWiseProjectsChart"></canvas>
      </div>

      <div class="pagination">
        <div class="pagination__pageCount">
          <span>Page</span>
          <span>{{currtProjectCWPage}}</span>
          <span>of</span>
          <span>{{totalPagesInProjectCW}}</span>
        </div>

        <i
          ng-disabled="currtProjectCWPage == 1"
          ng-click="companyWiseProjectPageChange(currtProjectCWPage - 1)"
          class="bi-arrow-left-square-fill"
          ng-class="{disabled:currtProjectCWPage===1}"
        ></i>
        <i
          class="bi-arrow-right-square-fill"
          ng-disabled="currtProjectCWPage === totalPagesInProjectCW"
          ng-click="companyWiseProjectPageChange(currtProjectCWPage + 1)"
          ng-class="{disabled:currtProjectCWPage===totalPagesInProjectCW}"
        ></i>
      </div>
    </div>

    <div class="companywisetickets">
      <h3>Company Size Based On Tickets</h3>
      <div class="companyWiseTicketCountsChart-wrapper">
        <canvas id="companyWiseTicketCountsChart"></canvas>
      </div>
      <div class="pagination">
        <div class="pagination__pageCount">
          <span>Page</span>
          <span>{{cptPage}}</span>
          <span>of</span>
          <span>{{totalPagesInCPT}}</span>
        </div>

        <i
          ng-disabled="cptPage == 1"
          ng-click="companyWiseTicketCountsPageChange(cptPage - 1)"
          class="bi-arrow-left-square-fill"
          ng-class="{disabled:cptPage===1}"
        ></i>
        <i
          class="bi-arrow-right-square-fill"
          ng-disabled="cptPage === totalPagesInCPT"
          ng-click="companyWiseTicketCountsPageChange(cptPage + 1)"
          ng-class="{disabled:cptPage===totalPagesInCPT}"
        ></i>
      </div>
    </div>
  </div>
</section>
