<section class="company-statstab-wrapper">
  <link
    rel="stylesheet"
    href="../../../../../admin/dashboard/tabs/stats/CompanyStats/CompanyStats.css"
  />

  <div class="csw-bottom">
    <div class="companyWiseProjects">
      <h3>Company Size Based on Projects</h3>

      <div class="companyWiseProjectsChartWrapper">
        <canvas id="companyWiseProjectsChart"></canvas>
      </div>

      <div class="pagination">
        <div class="pagination__pageCount">
          <span>Page</span>
          <span>{{currtProjectCWPage}}</span>
          <span>of</span>
          <span>{{totalPagesInProjectCW}}</span>
        </div>

        <i
          ng-disabled="currtProjectCWPage == 1"
          ng-click="companyWiseProjectPageChange(currtProjectCWPage - 1)"
          class="bi-arrow-left-square-fill"
          ng-class="{disabled:currtProjectCWPage===1}"
        ></i>
        <i
          class="bi-arrow-right-square-fill"
          ng-disabled="currtProjectCWPage === totalPagesInProjectCW"
          ng-click="companyWiseProjectPageChange(currtProjectCWPage + 1)"
          ng-class="{disabled:currtProjectCWPage===totalPagesInProjectCW}"
        ></i>
      </div>
    </div>

    <div class="companywisetickets">
      <h3>Company Size Based On Tickets</h3>
      <div class="companyWiseTicketCountsChart-wrapper">
        <canvas id="companyWiseTicketCountsChart"></canvas>
      </div>
      <div class="pagination">
        <div class="pagination__pageCount">
          <span>Page</span>
          <span>{{cptPage}}</span>
          <span>of</span>
          <span>{{totalPagesInCPT}}</span>
        </div>

        <i
          ng-disabled="cptPage == 1"
          ng-click="companyWiseTicketCountsPageChange(cptPage - 1)"
          class="bi-arrow-left-square-fill"
          ng-class="{disabled:cptPage===1}"
        ></i>
        <i
          class="bi-arrow-right-square-fill"
          ng-disabled="cptPage === totalPagesInCPT"
          ng-click="companyWiseTicketCountsPageChange(cptPage + 1)"
          ng-class="{disabled:cptPage===totalPagesInCPT}"
        ></i>
      </div>
    </div>
  </div>
</section>
