.dashboard_company_wrapper {
 margin-top: 2rem;
 padding: 1rem;
 font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
 color: var(--dark-purple);
 font-weight: bold;
}

.dashboard_company_wrapper .head {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

button {
 background-color: var(--dark-pink);
 color: white;
 font-weight: 300;
}
