<section class="login-page-container">
 <link rel="stylesheet" href="../login/login.css" />

 <div class="login-container">
  <div class="login-form-wrapper">
   <div class="logo-wrapper">
    <div class="logo">
     <img src="../assets/tfp.jpg" alt="logo" />
    </div>
    <div class="x-seperate">x</div>
    <div class="company-name">{{company.name}}</div>
    <div class="logo">
     <!-- <img ng-src="{{company.logo}}" alt="companyLogo" /> -->
    </div>
   </div>
   <div class="login-form-container">
    <form class="login-form" name="loginForm" ng-submit="login()" novalidate>
     <h2>Login</h2>

     <div class="form-group">
      <label for="email">Email address</label>
      <input
       type="email"
       class="form-control"
       ng-required="true"
       ng-model="loginFormData.email"
       id="email"
       name="email"
       placeholder="name@example.com"
      />
      <div class="error">
       <span
        ng-show="loginForm.email.$error.required && loginForm.email.$touched"
       >
        * Email required</span
       >
      </div>
      <div class="error">
       <span ng-show="loginForm.email.$error.email && loginForm.email.$touched">
        * Enter a valid email</span
       >
      </div>
     </div>

     <div class="form-group">
      <label for="password">Password</label>
      <input
       type="password"
       class="form-control"
       ng-required="true"
       ng-model="loginFormData.password"
       id="password"
       name="password"
      />
      <div class="error">
       <span
        ng-show="loginForm.password.$error.required && loginForm.password.$touched"
       >
        * Password required
       </span>
      </div>
      <div class="error">
       <span ng-show="loginFail">* Incorrect email or password</span>
      </div>
     </div>

     <button class="btn" type="submit" class="login-btn">Log In</button>
     <div class="error">{{loginForm.errorMessage}}</div>
     <a class="forget-password" href="">Forgot Password?</a>
     <!-- class='{{loginForm.$valid? "login-btn": "login-btn-disabled"}}' -->
    </form>
   </div>
  </div>

  <div class="login-page-image">
   <img src="../assets/tfe.png" alt="login-page-image" />
  </div>
 </div>
</section>
