<section class="admin-dashboard-company-wrapper">
 <link
  rel="stylesheet"
  href="../../../../../admin/dashboard/tabs/stats/company/companyStat.css"
 />

 <div class="companycount-data-map">
  <div class="companycount-wrapper">
   <div class="companycount-dateSelector date-range-selector">
    <form name="companycountForm">
     <div class="input">
      <label for="">Start Date</label>
      <input
       type="date"
       name="startDate"
       ng-model="companyCountFormData.startDate"
       ng-init="companyCountFormData.startDate = formDataInit.startDate"
       ng-change="countCompanyDateChanged()"
       max="{{companyCountFormData.endDate |  date:'yyyy-MM-dd'}}"
      />
     </div>
     <div class="input">
      <label for="">End Date</label>
      <input
       type="date"
       name="endDate"
       ng-model="companyCountFormData.endDate"
       ng-init="companyCountFormData.endDate = formDataInit.endDate"
       ng-change="countCompanyDateChanged()"
       min="{{companyCountFormData.startDate |  date:'yyyy-MM-dd'}}"
       id=""
      />
     </div>
    </form>
   </div>

   <div class="companycount">
    <div class="companycount__card">
     <div class="companycount__card__count">
      {{companiesCount.totalCompanies}}
     </div>
     <div class="companycount__card__title">Total Companies</div>
    </div>
    <div class="companycount__card">
     <div class="companycount__card__count">
      {{companiesCount.enabledCompanies}}
     </div>
     <div class="companycount__card__title">Active Companies</div>
    </div>
    <div class="companycount__card">
     <div class="companycount__card__count">
      {{companiesCount.disabledCompanies}}
     </div>
     <div class="companycount__card__title">Inactive Companies</div>
    </div>
   </div>
  </div>

  <div class="companycountchart-wrapper">
   <canvas id="companyCountChart"></canvas>
  </div>
 </div>

 <div class="locationWiseCompanyCount">
  <h1>Location Wise Companies</h1>

  <div class="locationWiseCompanyCount__map">
   <form
    name="locationWiseCompanyForm"
    class="locationWiseCompanyForm date-range-selector"
   >
    <select name="locationOption" ng-change="locationWiseCompanyDateChanged()" id="" ng-model="locationWiseCompanyFormData.locationOption" >
     <option  value="country">Country</option>
     <option value="state">State</option>
     <option value="city">City</option>
    </select>
    </div>
   </form>
   <div class="locationWiseCompanyCount__map__chart">
    <canvas id="locationWiseCompanyCountChart"></canvas>
   </div>
  </div>
 </div>
</section>
