<section class="admin-dashboard-company-wrapper">
 <link
  rel="stylesheet"
  href="../../../../../admin/dashboard/tabs/stats/company/companyStat.css"
 />

 <div class="companycount-data-map">
  <div class="companycount-wrapper">
   <div class="companycount-dateSelector date-range-selector">
    <form name="companycountForm">
     <div class="input">
      <label for="">Start Date</label>
      <input
       type="date"
       name="startDate"
       ng-model="companyCountFormData.startDate"
       ng-init="companyCountFormData.startDate = formDataInit.startDate"
       ng-change="countCompanyDateChanged()"
       max="{{companyCountFormData.endDate |  date:'yyyy-MM-dd'}}"
      />
     </div>
     <div class="input">
      <label for="">End Date</label>
      <input
       type="date"
       name="endDate"
       ng-model="companyCountFormData.endDate"
       ng-init="companyCountFormData.endDate = formDataInit.endDate"
       ng-change="countCompanyDateChanged()"
       min="{{companyCountFormData.startDate |  date:'yyyy-MM-dd'}}"
       id=""
      />
     </div>
    </form>
   </div>

   <div class="companycount">
    <div class="companycount__card">
     <div class="companycount__card__count">
      {{companiesCount.totalCompanies}}
     </div>
     <div class="companycount__card__title">Total Companies</div>
    </div>
    <div class="companycount__card">
     <div class="companycount__card__count">
      {{companiesCount.enabledCompanies}}
     </div>
     <div class="companycount__card__title">Active Companies</div>
    </div>
    <div class="companycount__card">
     <div class="companycount__card__count">
      {{companiesCount.disabledCompanies}}
     </div>
     <div class="companycount__card__title">Inactive Companies</div>
    </div>
   </div>
  </div>

  <div class="companycountchart-wrapper">
   <canvas id="companyCountChart"></canvas>
  </div>
 </div>

 <div class="graph-wrapper-comp-Analytics">
  <div class="companyWisepeople">
   <h3>Company Wise Users</h3>
 
   <div class="companyWisePeopleChartWrapper">
    <canvas id="companyWisePeopleChart"></canvas>
   </div>
 
   <div class="pagination">
    <div class="pagination__pageCount">
     <span>Page</span>
     <span>{{currtCWPpage}}</span>
     <span>of</span>
     <span>{{totalPagesInCWP}}</span>
    </div>
 
    <i
     ng-disabled="currtCWPpage == 1"
     ng-click="companyWisepeoplePageChange(currtCWPpage - 1)"
     class="bi-arrow-left-square-fill"
     ng-class="{disabled:currtCWPpage===1}"
    ></i>
    <i
     class="bi-arrow-right-square-fill"
     ng-disabled="currtCWPpage === totalPagesInCWP"
     ng-click="companyWisepeoplePageChange(currtCWPpage + 1)"
     ng-class="{disabled:currtCWPpage===totalPagesInCWP}"
    ></i>
   </div>
  </div>
 
  <div class="locationWiseCompanyCount">
   <h2>Location Wise Companies</h2>
 
   <div class="locationWiseCompanyCount__map">
    <form
     name="locationWiseCompanyForm"
     class="locationWiseCompanyForm date-range-selector"
    >
     <select name="locationOption" ng-change="locationWiseCompanyDateChanged()" id="" ng-model="locationWiseCompanyFormData.locationOption" >
      <option  value="country">Country</option>
      <option value="state">State</option>
      <option value="city">City</option>
     </select>
     </div>
    </form>
    <div class="locationWiseCompanyCount__map__chart">
     <canvas id="locationWiseCompanyCountChart"></canvas>
    </div>
   </div>
 </div>
 </div>
</section>
