<section>
 <link rel="stylesheet" href="../changepassword/resetPassword.css" />
 <div class="container" ng-show="!showSuccessMessage">
  <form
   name="resetPasswordForm"
   novalidate
   class="resetPass-form"
   ng-submit="resetPasswordSubmit(resetPasswordForm)"
  >
   <!-- <h1>Reset Password</h1> -->
   <div class="form-group">
    <!-- <label for="password">New Password :</label> -->
    <input
     type="password"
     class="form-control"
     ng-required="true"
     ng-model="resetPassword.newPassword"
     id="password"
     name="password"
     password-validate
     placeholder="New Password"
    />
    <div class="error">
     <span
      ng-show="resetPasswordForm.password.$error.required && resetPasswordForm.password.$touched"
     >
      * Password required
     </span>

     <ul
      ng-show="!resetPasswordForm.password.$error.required"
      ng-repeat="error in resetPasswordForm.password.$errorList"
      class="error-list"
     >
      <li>* {{error}}</li>
     </ul>
    </div>
   </div>
   <div class="form-group">
    <!-- <label for="confirmPassword">Confirm New Password :</label> -->
    <input
     type="password"
     class="form-control"
     ng-required="true"
     ng-model="resetPassword.confirmPassword"
     id="confirmPassword"
     name="confirmPassword"
     confirm-password-validate
     compare-with="{{resetPasswordForm.password}}"
     placeholder="Confirm New  Password"
    />
    <div class="error">
     <span
      ng-show="resetPasswordForm.confirmPassword.$error.required && resetPasswordForm.confirmPassword.$touched"
     >
      * Password required
     </span>

     <span
      ng-show="resetPasswordForm.confirmPassword.$error.confirmPasswordValidate && !resetPasswordForm.confirmPassword.$error.required "
     >
      * Passwords do not match
     </span>
    </div>
   </div>
   <button class="resetPass-btn" type="submit">Reset Password</button>
   <!-- <div class="error">{{forgotPasswordForm.errorMessage}}</div> -->
  </form>
  <img src="../assets/reset-password.png" alt="" />
 </div>

 <div class="success_message" ng-show="showSuccessMessage">
  <div class="success_message_content">
   <i class="bi bi-check2-circle"></i>
   <h1>Success</h1>
   <p>
    Your password has been reset successfully. Please login to continue.
   </p>
   <button class="resetPass-btn" ui-sref="login">Login</button>
  </div>
 </div>
</section>
